<div class="container">
  <h1 id="init">Harry Potter API</h1>
  <table class="table table-hover">

    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">House name</th>
        <th scope="col">Count Member</th>
        <th scope="col">Detail Member</th>

      </tr>
    </thead>
    <tbody>
      <tr >
        <th scope="row">1</th>
        <td>Gryffindor</td>
        <td> {{countGryffindor}}</td>
        <button class="button" button routerLink="/characterHouse"> View Member</button>
      </tr>
      <tr >
        <th scope="row">2</th>
        <td>Slytherin</td>
        <td>{{countSlytherin}}</td>
        <button class="button" button routerLink="/characterSlytherin"> View Member</button>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Ravenclaw</td>
        <td>{{countRavenclaff}}</td>
        <button class="button" button routerLink="/characterRavenclaw"> View Member</button>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Hufflepuff</td>
        <td>{{countHufflepuff}}</td>
        <button class="button" button routerLink="/characterHufflepuff"> View Member</button>
      </tr>
    </tbody>
  </table>
</div>


