$color-primario:#3936da;
$color-secundario:#000;


#init{
    font-size: 28;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #c22225;
    color: white;
    text-align:center;
    
}

table {
    width: 100%;
  }

.button{
    background: #961111;
    color:#fff;
    display: inline-block;
    text-align:center;
    margin:20px;
    display: inline-block;
    
  }